* {
    margin:0;
}

header {
    height: 200px;
    text-align: center;
    background: url(https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

.logo_text h1 {
    color: #b18f20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 80px 0 0 0;
}

.logo_text p {
    color: #b18f20;
    font-size: 1.3em;
}

.wrapper {
    background-color:#fff;;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper p {
    font-size: 2em;
    font-family: cursive;
    align-self: center;
    border: solid 1px; 
    border-radius: 5px;
    box-shadow: 5px 5px grey;
}

.wrapper a {
    color: firebrick;
}

.wrapperTask2 {
    background-color:#fff;;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.wrapperTask2 p {
    font-family: fantasy;
    color: black;
}

.wrapperTask2 code {
    font-style: italic;
    color: darkslateblue;
}

.wrapperTask5 {
    background-color:#fff;;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.wrapperTask5 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}

#duplicateField{
    font-family: cursive;
    color:darkslateblue;
}

ul {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: solid 1px; color: #f2f2f2;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 5px 5px grey;
}

li {
    list-style:none;
    padding: 30px;
}

li a {
    text-decoration: none;
    font-size: 2em;
    color:darkslateblue;
    font-style: italic;
}

li a span {
    color: black;
    font-family: monospace;
}

li a:hover {
    color: darkviolet;
}

#trafficLight {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    align-self: center;
  }

#button {
    font-size: 0.5em;
    font-style: italic;
    background-color: #f9f9f9;
    border:none;
    border: 1px solid; color: black;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    padding: 5px;
}

footer {
    height: 60px;
    background-color: black;
    text-align: center;
    padding: 20px 0 0 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-family: cursive;
}

footer a:hover {
    color: orange
}
